body {
  width:100%;
  text-align: center;
}

.layout {
  width: 100%;
  height:100vh;
  margin : 0px auto;
  display : grid;
  grid-template-columns: 26% 1fr;
  grid-template-rows: .5fr 1fr 1fr 1fr;
}

.layout .banner {
  grid-column-start: 1;
  grid-column-end:3;
  /* background: green; */
}

.layout .form {
grid-column-start: 1;
grid-column-end:2;
grid-row-start:2;
grid-row-end: 3;
background: red;
}

.layout .slider-ofertas {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 3;
  background: orange;
  width: 100%;
}

.layout .ofertas {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 3;
  background: pink;
  width:100%;
}

.layout .footer {
  grid-column-start: 1;
  grid-column-end:3;
  grid-row-start: 4;
  background: black;
  color: white;
  width:100%;
}
 
#header {
  display: grid;
  grid-template-columns: 44% 20% 30%;
  margin-bottom: 32px;
  align-items: center;
  width: 100%;
  height: 185px;
  background-color: #e6e9f0;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
  
.logo {
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-rows: 95px;
  font-weight: 900px;
  font-size: 15px;
  padding: 10px;
  margin-left: 43px;
  text-shadow: 1px 1px 0px #ccc;
}
  
.logo_r {
  font-family: 'Faster One', cursive;
  font-size: 70px;
  color: #ff0000;
  text-shadow: 1px 6px 2px #222;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 1;
}
  
.logo h1 {
  width: 100%;
  margin-top: 46px;
  margin-left: -9px;
  font-size: 40px;
  color: #000080;
  text-shadow: 1px 1px 2px;
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 1;
}
  
.logo p {
  color: red;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  font-style: oblique;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: 55px;
}
  
.logo img {
  width: 55px;
}
  
.contacto {
  display: grid;
  /* grid-template-columns: 15% 40%; */
  grid-template-columns: 1fr;
  width: 100%;
  padding-right: 10px;
  margin-top: 2px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900px;
  font-size: 15px;
}
  
.contacto img {
  width: 45px;
}
  
.contacto h2 {
  font-size: 20px;
  margin-top: -39px;
  margin-left: 50px;
}
  
#reserva-telefono {
  font-family: "Open Sans", sans-serif;
  margin-left: 66px;
  margin-top: -15px;  
}
  
#idioma {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
  
#idioma > ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: right;
  height: 100%;
  list-style: none;
}
  
#eslogan {
  display: grid;
  grid-template-columns: 1fr;
    
  width: 100%;
  margin-top: -53px;
  margin-left: 37px;
  
  position: absolute;
  z-index: 100;
  justify-items: center;
    
  color: #0d6efd;
  font-family: 'Lobster', cursive;
  font-size: 63px;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 1px 6px 2px #222;
}
/*---- Inicio Datos-busqueda/Vehículos-Ofertados encontrados ------- */
.form-busca{
  margin-top: -32px;
}

.form-container {
}

.aside-box {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 345px;
  margin: 0px auto;
  margin-left: auto;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 0px;
  background: #c3d2f2;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  position: relative;
}
  
.titulo-form {
  margin-left: 11px;
  margin-top: 13px;
  font-family: inherit;
  font-size: 22px;
  font-weight: bold;
}

.titulo-form-cambiar {
  display: inline;
  margin-left: 111px;
}

.titulo-form a {
  margin-left: 11px;
  margin-top: 18px;
  font-family: Sans;
  font-size: 19px;
  color: #0d68c0;
  cursor: pointer;
  text-decoration: none;
}

.titulo-form a:hover {
  font-family: sans-serif;
  font-size: 19px;
  color: black;
  text-decoration: underline;
}
  
.form-buscar {
  padding: 20px;
}
  
.formDateRecogida {
  /* margin-bottom: -45px; */
}
  
.formDateDevolucion{
  
}
  
.labelDate-form-recogida {
  margin-left: -192px;
  margin-right: 25px;
  font-size: 20px;
  font-weight: bolder;
}
  
.labelDate-form-devolucion {
  margin-left: -192px;
    margin-right: 3px;
  font-size: 20px;
  font-weight: bolder;
}
  
.form-control-date {
  width: 153px !important;
  margin-left: 2px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.form-control-clock {
  width: 75px !important;
  margin-left: 2px;
  margin-right: -4px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.img-calendar {
  width: 24px;
  margin-right: 37px;
  margin-left: 3px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.img-clock{
  width: 26px;
  margin-top: 5px;  
  margin-right: -11px;
  margin-left: 7px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.labelClock-form-recogida{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}
  
.labelClock-form-devolucion{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}
  
.form-contol-clock {
  width: 68px !important;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}
  
.form-chequeo {
  margin-left: 48px;
  margin-top: -6px;
  font-size: 17px;
}
  
.btnMod {
  margin: 13px 41px;  
  margin-left: 143px;
}

/*---------------- Fin Datos-busqueda/Vehículos-Ofertados encontrados ---------- */

/* --------------- Inicio Slider --------------------------- */

.carruselSlider{
  width: 1222px;
  margin-left: 13px;
}

.col-p h5 {
  font-size: 12px;
  font-weight: bold;
  /* font-weight: 700px; */
}

.row-p {
  width: 75%;
}

.col-p {
  height: 183px;
  border: 1px solid #000000;
  margin-left: 29px;
  margin-right: -16px;
  border: 1px solid #e9e7e7;
  border-radius: 3px;
  margin-top: 11px;
}

.img-ta {
  margin-top:-20px;
  width: 100%;
}

.precio {
 width: 116%;
 background: #f2f2f2;
 margin-left: -11px;
}

.precio-txt {
  margin-top: 0px;
  margin-left: 15px;
  color: #666;
  font-size: 11px;
}

.precio-p {
  font-weight: bold;
  margin-top: -17px;
  margin-left: 15px;
}
/* ---------- Fin    Slider ----------- */


/* ------ Inicio Mostrar Ofertas ------ */
.bloqueOferta {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex-basis: 80%;
  border: 1px solid black;
}

.imageOferta img {
  width: 100%;
}


.datosCocheOferta {

}


.project-info {
  padding: 10px
}

.project-info a{
  font-size: 16px;
  color: black;
  transition: all 300ms;
}

.project-info a:hover{
  color: green;
}

.project-info p{
  font-size: 16px;
  color: gray;
}

/* -------- Fin Mostrar Ofertas ------- */
