h5 {
    font-size: 15px;
    font-weight: 700px;
}

.row-p {
    width: 75%;
}

.col-p {
    height: 219px;
    border: 1px solid #000000;
    margin-left: 8px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    margin-top: 11px;
}

.img-ta {
    margin-top:-20px;
    width: 100%;
}

.precio {
   width: 115%;
   background: #f2f2f2;
   margin-left: -15px;
}

.precio-txt {
    margin-top: 0px;
    color: #666;
    font-size: 11px;
}

.precio-p {
    font-weight: bold;
    margin-top: -17px;
}

