* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  width:100%;
  overflow-x:hidden;
  }

#container {
  width: 100%;
  margin: 0px auto;
  border: 1px solid rgba(255, 255, 256, 0.8);
  min-height: 600px;
}

#header {
  display: grid;
  grid-template-columns: 44% 20% 30%;
  align-items: center;
  width: 100%;
  height: 185px;
  background-color: #e6e9f0;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-rows: 95px;
  font-weight: 900px;
  font-size: 15px;
  padding: 10px;
  margin-left: 43px;
  text-shadow: 1px 1px 0px #ccc;
}

.logo_r{
  font-family: 'Faster One', cursive;
  font-size: 70px;
  color: #ff0000;
  text-shadow: 1px 6px 2px #222;
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.logo h1 {
  width: 100%;
  margin-top: 46px;
  margin-left: -9px;
  font-size: 40px;
  color: #000080;
  text-shadow: 1px 1px 2px;
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.logo p {
  color: red;
  font-family: 'Caveat', cursive;
  font-size: 22px;
  font-style: oblique;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  margin-left: 55px;
}

.logo img {
  width: 55px;
}

.contacto {
  display: grid;
  /* grid-template-columns: 15% 40%; */
  grid-template-columns: 1fr;
  width: 100%;
  padding-right: 10px;
  margin-top: 2px;
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900px;
  font-size: 15px;
}

.contacto img {
  width: 45px;
}

.contacto h2 {
  font-size: 20px;
  margin-top: -39px;
  margin-left: 50px;
}

#reserva-telefono {
  font-family: "Open Sans", sans-serif;
  margin-left: 66px;
  margin-top: -15px;  
}

#idioma {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

#idioma > ul {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: right;

  height: 100%;
  list-style: none;
}

#eslogan {
  display: grid;
  grid-template-columns: 1fr;
  
  width: 100%;
  margin-top: -53px;
  margin-left: 37px;

  position: absolute;
  z-index: 100;
  justify-items: center;
  
  color: #0d6efd;
  font-family: 'Lobster', cursive;
  font-size: 63px;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 1px 6px 2px #222;
}

/* ------------- Inicio Contenido ------------- */
#content {
  display: grid;
  grid-template-columns: .7fr 1fr;
  align-items: start;
  justify-items: space-between;
  grid-column-gap: 7px;

  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../img/Img-Banner/FaroSoller.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* --------- Inicio Formulario busqueda ----------*/
.aside-box {
  width: 96%;
  height: 405px;
  margin: 0px auto;
  margin-top: 55px;
  margin-left: 67px;
  padding-top: 2px;
  background: #c3d2f2;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3),
    0px 0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  position: relative;  
}

.titulo-form {
  margin-left: 26px;
  margin-top: 13px;
  font-family: inherit;
  font-size: 26px;
  font-weight: bold;
}

.form-buscar {
  padding: 41px;
}

.formDateRecogida {
  margin-bottom: -45px;
}

.formDateDevolucion{

}


.labelDate-form-recogida {
  margin-left: -16px;
  margin-right: 25px;
  font-size: 20px;
  font-weight: bolder;
}

.labelDate-form-devolucion {
  margin-left: -16px;
  margin-right: 3px;
  font-size: 20px;
  font-weight: bolder;
}

.form-control-date {
  width: 153px !important;
  margin-left: 2px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.form-control-clock {
  width: 68px !important;
  margin-left: 2px;
  margin-right: -4px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.img-calendar {
  width: 24px;
  margin-right: 37px;
  margin-left: 3px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.img-clock{
  width: 26px;
  margin-top: 5px;  
  margin-right: -11px;
  margin-left: 7px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.labelClock-form-recogida{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}

.labelClock-form-devolucion{
  margin-right:2px;
  font-size: 20px;
  font-weight: bolder;
}

.form-contol-clock {
  width: 68px !important;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.form-chequeo {
  margin-left: 48px;
  margin-top: -6px;
  font-size: 17px;
}

.btnBuscar {
  margin: 35px 45px;
  margin-left: 28px;
}

/* --------- Fin Formulario Busqueda -------------*/

/* --------- Inicio Tarjetas ------------------- */
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, 272px);
  grid-gap: 13px;
  align-items: start;
  margin-top: 56px;
  margin-left: 190px;
  padding: 0 15px;
}

.tarjeta-wrap {
  perspective: 800;
  cursor: pointer;
}

.tarjeta {
  width: 265px;
  height: 150px;
  transform-style: preserve-3d;
  transition: 2s ease;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

/* -----------------   Inicio Adelante y Atrás  ---------------- */
.adelante,
.atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adelante {
  width: 100%;
  background: white;
}

/* *********   Inicio Atras    ************** */
.atras {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 50%, 1fr;
  transform: rotateY(180deg);
  font-family: "open-sans";
  background-color: #d4d6d9bd;
}

.DetailCar_Vehiculo {
  font-weight: bold;
  font-size: 20px;
  color: #1e1e1e;
  padding: 20px;
  margin-left: -17px;
  margin-top: -12px;
  grid-column-start: 2;
  grid-column-end: 5;
}

.DetailCar_Vehiculo_logo{
  margin-left: 47px;
  margin-top: -33px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
}

.DetailCar_Feature{
  display: flex;
  margin-top: -3px;
  margin-right: 10px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
}

.DetailCarPax_Feature,
.DetailCarDoor_Feature,
.DetailCarMotor_Feature,
.DetailCarAir_Feature {
  display: flex;
  width: 58%;
  height: 48%;
  border: 2px solid #222;
  border-radius: 3px;
  font-size: 20px;
  color: #222;
  margin-top: 15px;
  margin-left: 15px;
}

.atras > .DetailCarPax_Feature {
  grid-column-start: 1;
  grid-column-end:2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.atras > .DetailCarDoor_Feature {
  grid-column-start: 2;
  grid-column-end:3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.atras > .DetailCarMotor_Feature {
  grid-column-start: 3;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.atras > .DetailCarAir_Feature {
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 2;
  grid-row-end: 2;
}

.Icon__svgContainer{
  margin-right: -17px;
  margin-top: 10px;
}

.DetailCar_Etiqueta {
  font-size: 14px;
  color: #201f1f;
  margin-top: 1px;
  margin-left: 12px;
  margin-bottom: 10px;
  padding: 14px 10px;
}

/* *********   Fin Atras    ************** */
/* -----------------   Fin Adelante y Atrás  ---------------- */

.tarjeta-wrap:hover .tarjeta {
  transform: rotateY(180deg);
}

.card1 {
  /* background-image: url("../img/Img-Vehiculos/Coches/Peugeot_108.png"); */
  background-image: url("../img/Img-Vehiculos/Coches/Peugeot_108.png");
  background-size: cover;
}

.card2 {
  background-image: url("../img/Img-Vehiculos/Coches/ToyotaAygo.png");
  background-size: cover;
}

.card3 {
  background-image: url("../img/Img-Vehiculos/Coches/CitroenC1.png");
  background-size: cover;
}

.card4 {
  background-image: url("../img/Img-Vehiculos/Coches/CitroenC1_open.png");
  background-size: cover;
}

.card5 {
  background-image: url("../img/Img-Vehiculos/Coches/ToyotaAygoOpen.png");
  background-size: cover;
}
.card6 {
  background-image: url("../img/Img-Vehiculos/Coches/CitroenC1Automatic.png");
  background-size: cover;
}
.card7 {
  background-image: url("../img/Img-Vehiculos/Coches/CitroenC3.png");
  background-size: cover;
}
.card8 {
  background-image: url("../img/Img-Vehiculos/Coches/Peugeot_807.png");
  background-size: cover;
}
.card9 {
  background-image: url("../img/Img-Vehiculos/Motos/PiaggioLiberty_125cc.png");
  background-size: cover;
}
.card10 {
  background-image: url("../img/Img-Vehiculos/Motos/Suzuki-Burgman_125cc.png");
  background-size: cover;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, 130px);
  grid-gap: 20px;
  align-items: start;
  margin-top: 20px;
  padding: 0 45px;
}

.tarjetaCoche {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100px;
  height: 100px;
  margin-bottom: 25px;
  margin-right: 20px;
  border: 1px solid #ccc;
  background: #ffffff;
}

.tarjetaCoche img {
  width: 100%;
  margin-top: 3px;
}

.tarjetaCoche h3 {
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}

.project-info {
  font-size: 10px;
  padding: 2px;
  font-family: sans-serif;
  color: #1c1717;
  background: white;
}

#aside {
  margin-right: 30px;
  padding: 15px;
}

#footer {
  display: grid;
  grid-template-columns: 1fr 25%;
  align-items: center;
  justify-content: start;
  height: 120px;
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer .info {
  margin-left: 20px;
  color: #444;
}
