* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

body{
  width:100%;
  overflow-x:hidden;
  }

/* #container {
  width: 100%;
  margin: 0px auto;
  border: 1px solid rgba(255, 255, 256, 0.8);
  min-height: 600px;
} */

.widget
{
top:50px;
margin-left: auto;
margin-right: auto;
position:absolute;
}

/* ------------- Inicio Contenido ------------- */
#content {
  display: grid;
  grid-template-columns: .7fr 1fr;
  align-items: start;
  justify-items: space-between;
  grid-column-gap: 7px;

  padding-top: 20px;
  padding-bottom: 20px;
  /* background: transparent url("../img/Img-Banner/FaroSoller.jpeg"); */
  background-image: url("../img/Img-Banner/FaroSoller.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
}

/* --------- Inicio Formulario busqueda ----------*/
.aside-box {
  width: 88%;
  height: 405px;
  margin: 0px auto;
  margin-top: 55px;
  margin-left: 67px;
  padding-top: 2px;
  background: #c3d2f2;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3),
    0px 1px white inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
  position: relative;  
}

.titulo-form {
  margin-left: 26px;
  margin-top: 13px;
  font-family: inherit;
  font-size: 26px;
  font-weight: bold;
}

.form-buscar {
  padding: 41px;
}

.formDateRecogida {
  
}

.formDateDevolucion{

}

.labelDate-form-recogida {
  margin-left: -16px;
  margin-right: 18px;
}

.labelDate-form-devolucion {
  margin-left: -16px;
  margin-right: 18px;
}

.form-control-date {
  width: 106px !important;
  margin-left: 2px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.img-calendar {
  width: 24px;
  margin-right: 76px;
  margin-left: 3px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.labelClock-form-recogida{
  margin-right:8px;
}

.labelClock-form-devolucion{
  margin-right:8px;
}

.form-contol-clock {
  width: 68px !important;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}

.img-clock{
  width: 26px;
  margin-right: -11px;
  margin-left: 3px;
  box-shadow: 0px 0px 2px #1e1c1c;
  cursor: pointer;
}


