PORT_BACKEND=
PORT_FRONTEND=
REDISDB_PORT=
REDISDB_HOST=
REDISDB_PASSWORD=
ENDPOINT_VARIABLES_FRONTEND=
NODE_ENV=
URL_BASE=
URL_FRONTEND=
PROTOCOLO=
URL_BACKEND=
MONGO_DB_URI_L=
MONGO_DB_URI=
MONGO_DB_NAME=
MONGO_COLECCION_CARS=
MONGO_COLECCION_PRECIOS=
MONGO_COLECCION_HELPER=
MONGO_COLECCION_USUARIOS=
MONGO_COLECCION_TOKENS=
MONGO_COLECCION_SUPLE_GENERICO=
MONGO_COLECCION_SUPLE_TIPO_CHOFER=
MONGO_COLECCION_RESERVAS=
MONGO_COLECCION_POSIBLES_COMPRADORES=
MONGO_COLECCION_LOCATIONS=
MONGO_COLECCION_ADMIN_USUARIOS=
MONGO_COLECCION_PORCENTAJE_CLASE_VEHICULOS=
MONGO_COLECCION_EMAILS_NEWSLETTER=
TOKEN_BACKEND_TO_FRONTEND_SECRET=
TOKEN_PGP=
TOKEN_FOR_BACKEND_ACCESS=
ENDPOINT_API_BACKEND=
ENDPOINT_STATS_BACKEND=
ENDPOINT_LOCATION=
ENDPOINT_LOCATION_ACTUALIZAR=
ENDPOINT_BACKEND_PANEL_CONTROL_LOGIN_REGISTER=
ENDPOINT_PORCENTAJE_VEHICULO=
ENDPOINT_GETALL_BACKEND=
ENDPOINT_GETCAR_FROM_CARD_BACKEND=
ENDPOINT_REALIZAR_RESERVA_BACKEND=
ENDPOINT_NEWSLETTER_BACKEND=
ENDPOINT_TEMPLATE_FRONTEND=
ENDPOINT_DETALLE_TEMPLATE_FRONTEND=
ENDPOINT_TRADUCCIONES_BACKEND=
ENDPOINT_REALIZAR_PAGO_BACKEND=
ENDPOINT_NOTIFICACION_PAYGATEWAY=
ENDPOINT_DESCODIFICACION_MERCHANTPARAMETERS=
TOKEN_UPDATE_GIT=
MERCHANT_CODE=
MERCHANT_KEY=
MERCHANT_KEY_CODED=
USUARIO_AUTO_GIT=
USUARIO_AUTO_NOMBRE_REPO=
ENDPOINT_GET_GENERAL_STATS=
ENDPOINT_TRADUCCIONES_GUARDAR=
ENDPOINT_TRADUCCIONES_ACTUALIZAR=
TOKEN_FOR_BACKEND_CHECK=
EMAIL_ADMIN_RECIBIR_RESERVAS_1=
EMAIL_ADMIN_RECIBIR_RESERVAS_2=
ENDPOINT_CACHE=
USUARIO_CORREO=
PASSWORD_CORREO=
SERVIDOR_SMTP=
PUBLIC_SMTP_KEY=
