html
{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}


body
{
    width: 100vw;
}

.header_reservas
{
    display: flex;
    justify-content: space-evenly;

    color: whitesmoke;
    background-color: #313854;

}

.pestanyaContenido
{
    padding: 0.01em 16px;
}

.boton-noenviado
{
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
    color: whitesmoke;
}

.boton-enviado
{
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    color: whitesmoke;
}

.contenido-centrado
{
    /* align-self: center;
    justify-self: center; */
    place-content: center;
    width: 100%;
}

.formulario-busqueda
{
    display: grid;
    grid-template-columns: auto 1fr;
    
    justify-items: flex-end;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;

    grid-template-areas: 
    "a b"
    "c d"
    "e e"
    ;
}

.inputFecha
{
    border: 1px solid black;
    height: 50px;
    text-align: center;
    width: 100%;
    font-size: 18px;
}



.botonBusqueda_noenviado
{
    grid-area: e;
    padding: 10px;
    background-color: rgb(35, 134, 21);
    width: 100%;
    color: whitesmoke;
    border-radius: 10px;
    

}

.atras
{
    justify-self: flex-start;
    flex-grow: 0.1;
}



.boton
{

    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    user-select: none;

    width: auto;
    border: none;
    outline: 0;

    color: white;

}

.boton:hover
{
    color:#000;
    background-color:#ccc;
}

.boton-rojo
{
    color: whitesmoke;
    background-color: #f44336;
}


.boton-masancho
{
    flex-grow: 1;
}

.tamanyo-200
{
    flex-basis: 200px;
}

.titulo
{
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    font-size: x-large;
    margin-left: 20px;
}

.centrado
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

.centrado-boton_correo
{
    padding: 10px;
    border-radius: 7px;
    
    color: white;

}

.azul
{
    background-color: rgb(16, 98, 204);
}

.verde
{
    background-color: rgb(70, 155, 9);
    color: white;
}

.rojo
{
    background-color: rgb(223, 17, 17);
    color: white;
}