html
{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}


body
{
    width: 100vw;
}

.header_reservas
{
    display: flex;
    justify-content: space-evenly;

    color: whitesmoke;
    background-color: #313854;

}

.pestanyaContenido
{
    padding: 0.01em 16px;
}

.boton-noenviado
{
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
    color: whitesmoke;
}

.boton-enviado
{
    padding: 10px;
    background-color: green;
    border-radius: 5px;
    color: whitesmoke;
}

.contenido-centrado
{
    /* align-self: center;
    justify-self: center; */
    place-content: center;
    width: 100%;
}

.formulario-busqueda
{
    display: grid;
    grid-template-columns: auto 1fr;
    
    justify-items: flex-end;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;

    grid-template-areas: 
    "a b"
    "c d"
    "e e"
    ;
}

.inputFecha
{
    border: 1px solid black;
    height: 50px;
    text-align: center;
    width: 100%;
    font-size: 18px;
}



.botonBusqueda_noenviado
{
    grid-area: e;
    padding: 10px;
    background-color: rgb(35, 134, 21);
    width: 100%;
    color: whitesmoke;
    border-radius: 10px;
    

}

.atras
{
    justify-self: flex-start;
    flex-grow: 0.1;
}



.boton
{

    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    user-select: none;

    width: auto;
    border: none;
    outline: 0;

    color: white;

}

.boton:hover
{
    color:#000;
    background-color:#ccc;
}

.boton-rojo
{
    color: whitesmoke;
    background-color: #f44336;
}


.boton-masancho
{
    flex-grow: 1;
}

.tamanyo-200
{
    flex-basis: 150px;
}

.titulo
{
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    font-size: x-large;
    margin-left: 20px;
}

.centrado
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    
}

.centrado-boton_correo
{
    padding: 10px;
    border-radius: 7px;
    
    color: white;

}

.botonMasDetalles
{

    padding: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgb(186 0 0);

}

.botonBorrarReserva
{
    padding: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgb(186 0 0);
    z-index: 1000000;

}


.azul
{
    background-color: rgb(16, 98, 204);
}

.verde
{
    background-color: rgb(70, 155, 9);
    color: white;
}

.rojo
{
    background-color: rgb(223, 17, 17);
    color: white;
}


/* VENTANA MODAL */


.modal-visible {
  visibility: visible;
  opacity: 1;
}

.modal-invisible
{
  visibility: hidden;
  opacity: 0;
}

.overlay-transparente
{
  display: block;
  background: rgba(0, 0, 0, 0.563);
  
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;


}

.details-modal {

  position: relative;

  background: rgb(255, 255, 255);
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  padding-bottom: 32px; 
  padding-right: 0px;
  overflow: auto;
  
  width: 80%;
  height: 400px;
  opacity: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding-left: 25px;

  
}

@media screen and (max-width: 414px) {
  .details-modal
  {
    width: 100%;

  }
}


.details-modal-close {
  position: absolute;
  
  align-items: center;
  color: rgb(17, 24, 39);
  display: flex;
  height: 60px;
  justify-content: center;
  
  right: 0;
  top: 0;
  width: 65px;
  cursor: pointer;
}

.details-modal-title {
  color: rgb(17, 24, 39);
  padding: 1.5em 2em;
  /* pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em); */
}

.details-modal-title-text 
{
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

.subtitulo-contenido-modal
{
  font-size: 15px;
  font-weight: 900;
  margin-top: 20px;
  text-align: left;
  padding-right: 30px;
}
.negrita
{
  
  font-weight: 700;
}

.boton-cerrar-modal
{
  display: flex;
}

/* FIN VENTANA MODAL */

.sub-contenido-modal
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.gridmodal
{
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
    gap: 6px;
}

.texto-alineado-derecha
{
    text-align: right;
}