body
{
    width: 100vw;
}

.centrado
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
}

.centrado-boton_correo
{
    padding: 10px;
    background-color: blue;
    color: white;

}