<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/mostrar_reservas.css">
    <title>Envio confirmacion reservas</title>
</head>

<body>

    <header class="header">
        <button id="botonAtras" type="button" class="boton atras">Atras</button>
        <button id="botonNoEnviados" type="button" class="boton boton-rojo boton-masancho">No Enviados</button>
        <button id="botonEnviados" type="button" class="boton boton-masancho">Enviados</button>
        <button id="botonOtros" type="button" class="boton boton-masancho">Otros</button>
    </header>
    <main>

        <div id="noenviados" class="pestanyaContenido">
            <h2 class="titulo">NO Enviada Confirmacion</h2>
            <ul id="borrarnoenviados">
                <li class="centrado">
                    <div class="tamanyo-200">
                        Localizador
                    </div>
                    <div class="tamanyo-200">
                        Nombre Apellidos
                    </div>
                    <div class="tamanyo-200">
                        Correo
                    </div>
                    <div class="tamanyo-200">
                        Fecha Alta
                    </div>
                    <div class="tamanyo-200">
                        Fecha Envio
                    </div>
                    <div class="tamanyo-201">
                        Boton
                    </div>
                </li>

                <% for (let i=0; i < it.noenviados.length; i++) { %>

                    <li class="centrado">
                        <div class="tamanyo-200">
                            <b>
                                <%=it.noenviados[i].numeroRegistro %>
                            </b>
                        </div>
                        <div class="tamanyo-200">
                            <%=it.noenviados[i].nombre %>
                                <%=it.noenviados[i].apellidos %>
                        </div>
                        <div class="tamanyo-200">
                            <%=it.noenviados[i].email %>
                        </div>
                        <div class="tamanyo-200">
                            <%= it.noenviados[i].fechaAlta%>
                        </div>

                        <div class="tamanyo-200">
                            <% if (it.noenviados[i].fechaEnvioConfirmacionReserva) { %>
                                <%= it.noenviados[i].fechaEnvioConfirmacionReserva%>
                            <% } else { %>
                                        --
                            <% } %>
                        </div>
                        <div class="tamanyo-201">
                            <form class="formulario" action="/enviocorreo" method="post">
                                <input type="hidden" name="_id" value="<%=it.noenviados[i]._id %>">
                                <input type="hidden" name="localizador" value="<%=it.noenviados[i].numeroRegistro %>">
                                <input type="hidden" name="nombre" value="<%=it.noenviados[i].nombre %>">
                                <input type="hidden" name="email" value="<%=it.noenviados[i].email %>">
                                <input type="hidden" name="idioma" value="<%=it.noenviados[i].idioma %>">
                                <input type="hidden" name="fechaRecogida" value="<%=it.noenviados[i].fechaRecogida %>">
                                <input type="hidden" name="horaRecogida" value="<%=it.noenviados[i].horaRecogida %>">
                                <input type="hidden" name="fechaDevolucion"
                                    value="<%=it.noenviados[i].fechaDevolucion %>">
                                <input type="hidden" name="horaDevolucion"
                                    value="<%=it.noenviados[i].horaDevolucion %>">
                                <input type="hidden" name="numero_sillas_nino"
                                    value="<%=it.noenviados[i].numero_sillas_nino %>">
                                <input type="hidden" name="numero_booster"
                                    value="<%=it.noenviados[i].numero_booster %>">
                                <input type="hidden" name="descripcion_vehiculo"
                                    value="<%=it.noenviados[i].descripcion_vehiculo %>">

                                <button id="botonEnviar" class="centrado-boton_correo azul" type="submit">
                                    Enviar correo
                                </button>
                            </form>
                        </div>
                    </li>
                    <% } %>

            </ul>

        </div>

        <div id="enviados" class="pestanyaContenido" style="display:none">
            <h2 class="titulo">Enviada Confirmacion</h2>

        </div>

        <div id="otros" class="pestanyaContenido" style="display:none">
            <h2 class="titulo">Otros</h2>

        </div>



    </main>
    <script src="./js/mostrar_reservas.js"></script>
</body>

</html>