<% const FechasES=(fecha)=> {


fecha = fecha.split(".")[0];

let date_ob=new Date(fecha);

const dia=(date_ob.getDate()).toString().padStart(2, "00" );
const mes=(date_ob.getMonth() + 1).toString().padStart(2, "00" );
const anyo=date_ob.getFullYear();
const minuto=date_ob.getMinutes().toString().padStart(2, "00" );
const horas=date_ob.getHours().toString().padStart(2, "00" );
const segundos=date_ob.getSeconds().toString().padStart(2, "00" );

const fechaActual=dia + "-" + mes+ "-" +anyo+ " " +horas+ ":" +minuto+ ":" +segundos;
return fechaActual; 

} 

const OnlyFechaES=(fecha)=> {

fecha = fecha.split(".")[0];

let date_ob=new Date(fecha);

const dia=(date_ob.getDate()).toString().padStart(2, "00" );
const mes=(date_ob.getMonth() + 1).toString().padStart(2, "00" );
const anyo=date_ob.getFullYear();


const fechaActual=dia + "-" + mes+ "-" +anyo;
return fechaActual;

} %>

<ul>

    <li class="centrado contenido-centrado">
        <form class="formulario-busqueda contenido-centrado" action="/0_QJFs2NH9a_f_a_BQ_NTib_Y3O6Ik_DkWIiW_mFtZSI/dashboard/xxxxx" id="formulario_busqueda_reservas" method="post">
            <label for="fechaInicioBusqueda">Inicio</label>
            <% if (it.fechaInicio) { %>
                <input class="inputFecha" type="date" name="fechaInicioBusqueda" id="fechaInicioBusquedaNoEnviada" value="<%=it.fechaInicio%>">
            <% } else { %>
                <input class="inputFecha" type="date" name="fechaInicioBusqueda" id="fechaInicioBusquedaNoEnviada" value="">
            <% } %>
            <label for="fechaDestinoBusqueda">Destino</label>
            <% if (it.fechaDestino) { %>
                <input class="inputFecha" type="date" name="fechaDestinoBusqueda" id="fechaDestinoBusquedaNoEnviada" value="<%=it.fechaDestino%>">
            <% } else { %>
                <input class="inputFecha" type="date" name="fechaDestinoBusqueda" id="fechaDestinoBusquedaNoEnviada" value="">
            <% } %>
            <button id="botonBusqueda_noenviado" class="botonBusqueda_noenviado" type="submit">Buscar Todas por fecha</button>
        </form>
    </li>
    <li class="centrado">
        <% if (it.fecha) { %>
            <% const fechaInicioTemp=OnlyFechaES(it.fechaInicio) %>
            <% const fechaDestinoTemp=OnlyFechaES(it.fechaDestino) %>

            <h3 class="titulo">La busqueda entre <%= fechaInicioTemp %> y <%= fechaDestinoTemp %> :</h3>
        <% } else { %>
                <h3 class="titulo">Todas las reservas</h3>
        <% } %>
    </li>

    <li class="centrado">
        <div class="tamanyo-200">
            Localizador
        </div>
        <div class="tamanyo-63">
            PAGADO
        </div>
        <div class="tamanyo-63">
            EMAIL CONF
        </div>
        <div class="tamanyo-200">
            Nombre Apellidos
        </div>
        <div class="tamanyo-200">
            Correo
        </div>
        <div class="tamanyo-200">
            Fecha Alta
        </div>
        <div class="tamanyo-200">
            Fecha Envio
        </div>
        <div class="tamanyo-200">
            Mas datos
        </div>
        <div class="tamanyo-201">
            Boton
        </div>
    </li>
    <% let contador = 0; %>
    <% for (let i=0; i < it.noenviados.length; i++) { %>
        <% if (it.noenviados[i].isvisible===false) { continue; } %>
        
        
        <li class="centrado">
            <div class="tamanyo-200">
                <b>
                    <%=it.noenviados[i].numeroRegistro %>
                </b>
            </div>
            <div class="tamanyo-40">
                <b>
                    <% if (it.noenviados[i].Ds_Response=== undefined ) { %>
                        <img src="./img/svg/rojo.svg" alt="NO PAGADO">
                    <% } else { %>
                        <% if (it.noenviados[i].Ds_Response === "0000") { %>
                        <img src="./img/svg/verde.svg" alt="PAGADO">
                        <% } else { %>
                            <img src="./img/svg/naranja.svg" alt="PROBLEMAS">
                        <% } %>
                    <% } %>
                    
                </b>
            </div>
            <div class="tamanyo-63">
                <b>
                    <% if (it.noenviados[i].resultadoUserEmailSended===undefined ) { %>
                        <img src="./img/svg/email-rojo.svg" alt="NO ENVIADO CORREO CONFIRMACION">
                    <% } else { %>
                        <% if (it.noenviados[i].resultadoUserEmailSended.cannotSend === false ) { %>
                            <img src="./img/svg/email-verde.svg" alt="ENVIADO CORREO CONFIRMACION">
                        <% } else { %>
                            <img src="./img/svg/email-rojo.svg" alt="NO ENVIADO CORREO CONFIRMACION">
                        <% } %>
                    <% } %>
                </b>
            </div>
            <div class="tamanyo-200">
                <span class="">
                    <%=it.noenviados[i].nombre %>
                    <%=it.noenviados[i].apellidos %>
                    <b>
                    </b>
                    <b>
                    </b>
                </span>
                
            </div>
            <div class="tamanyo-200">
                <%=it.noenviados[i].email %>
            </div>
            <div class="tamanyo-200">
                <% const alta=FechasES(it.noenviados[i].fechaAlta) %>
                    <%= alta %>
            </div>

            <div class="tamanyo-200">
                <% if (it.noenviados[i].fechaEnvioConfirmacionReserva) { %>
                    <% const fe=FechasES(it.noenviados[i].fechaEnvioConfirmacionReserva) %>
                        <%= fe %>
                            <% } else { %>
                                --
                                <% } %>
            </div>
            <div class="tamanyo-202">
                <button id="botonMasDetalles_<%=contador%>" class="botonMasDetalles" >Mas datos</button>
                <div id="overlay-botonmasdetalles_<%=contador%>" class="overlay-transparente modal-invisible">
                    <ul class="details-modal resetul ">
                        <li class="details-modal-close">
                            <a class="boton-cerrar-modal" role="button">
                                <img class="cerrar-modal" src="./img/svg/cerrar_modal.svg" alt="boton cerrar modal">
                            </a>
                        </li>
                        <li class="details-modal-title">
                            <h5 class="details-modal-title-text">
                                DETALLES
                            </h5>
                        </li>
                        <li class="sub-contenido-modal">
                            <div class="gridmodal">
                                <span class="texto-alineado-derecha">Numero Registro:</span>
                                <span><%=it.noenviados[i].numeroRegistro %></span>
                                <span class="texto-alineado-derecha">Idioma:</span>
                                <span><%=it.noenviados[i].idioma %></span>
                                <span class="texto-alineado-derecha">Trato:</span>
                                <span>
                                    <%=it.noenviados[i].trato %>
                                </span>
                                <span class="texto-alineado-derecha">Nombre:</span>
                                <span><%=it.noenviados[i].nombre %></span>
                                <span class="texto-alineado-derecha">Apellidos:</span>
                                <span class=""><%=it.noenviados[i].apellidos %></span>
                                <span class="texto-alineado-derecha">Email:</span>
                                <span><%=it.noenviados[i].email %></span>
                                <span class="texto-alineado-derecha">Telefono:</span>
                                <span>
                                    <%=it.noenviados[i].telefono %>
                                </span>
                                <span class="texto-alineado-derecha">Vehiculo:</span>
                                <span><%=it.noenviados[i].descripcion_vehiculo %></span>
                                <span class="texto-alineado-derecha">Conductor con experiencia:</span>
                                <span>
                                    <%=it.noenviados[i].conductor_con_experiencia %>
                                </span>
                                
                                <span class="texto-alineado-derecha">Recogida Fecha:</span>
                                <span><%=it.noenviados[i].fechaRecogida %></span>
                                <span class="texto-alineado-derecha">Recogida Hora :</span>
                                <span><%=it.noenviados[i].horaRecogida %></span>
                                
                                <span class="texto-alineado-derecha">Devolucion Fecha:</span>
                                <span>
                                    <%=it.noenviados[i].fechaDevolucion %>
                                </span>
                                <span class="texto-alineado-derecha">Devolucion Hora :</span>
                                <span>
                                    <%=it.noenviados[i].horaDevolucion %>
                                </span>
                                
                                <span class="texto-alineado-derecha">Dias:</span>
                                <span><%=it.noenviados[i].dias %></span>
                                
                                <span class="texto-alineado-derecha">Alquiler:</span>
                                <span>
                                    <%=it.noenviados[i].alquiler %>
                                </span>
                                <span class="texto-alineado-derecha">total suplmento tipo conductor:</span>
                                <span>
                                    <%=it.noenviados[i].total_suplmento_tipo_conductor %>
                                </span>
                                <span class="texto-alineado-derecha">Pago Recogida:</span>
                                <span>
                                    <%=it.noenviados[i].pagoRecogida %>
                                </span>
                                
                                <span class="texto-alineado-derecha">Pago Online:</span>
                                <span>
                                    <%=it.noenviados[i].pago_online %>
                                </span>
                                
                                <span class="texto-alineado-derecha">Cantidad de sillas bebe:</span>
                                <span><%=it.noenviados[i].numero_sillas_nino %></span>
                                <span class="texto-alineado-derecha">Cantidad Booster:</span>
                                <span><%=it.noenviados[i].numero_booster %></span>

                                
                            </div>

                        </li>
                        <li class="">
                            <input type="hidden" id="_id_<%=contador%>" name="_id" value="<%=it.noenviados[i]._id %>">
                            <button class="botonBorrarReserva" type="submit" >OCULTAR</button>
                        </li>
                        <li class="">
                            <input type="hidden" id="_id_usuario_email_<%=contador%>" name="_id" value="<%=it.noenviados[i]._id %>">
                            <button class="botonEnviarEmail" type="submit">ENVIAR EMAIL REGISTRO CONFIRMACION</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tamanyo-201">
                <form class="formulario" action="/0_QJFs2NH9a_f_a_BQ_NTib_Y3O6Ik_DkWIiW_mFtZSI/dashboard/enviocorreo" method="post">
                    <input type="hidden" name="_id" value="<%=it.noenviados[i]._id %>">
                    <input type="hidden" name="localizador" value="<%=it.noenviados[i].numeroRegistro %>">
                    <input type="hidden" name="nombre" value="<%=it.noenviados[i].nombre %>">
                    <input type="hidden" name="email" value="<%=it.noenviados[i].email %>">
                    <input type="hidden" name="idioma" value="<%=it.noenviados[i].idioma %>">
                    <input type="hidden" name="fechaRecogida" value="<%=it.noenviados[i].fechaRecogida %>">
                    <input type="hidden" name="horaRecogida" value="<%=it.noenviados[i].horaRecogida %>">
                    <input type="hidden" name="fechaDevolucion" value="<%=it.noenviados[i].fechaDevolucion %>">
                    <input type="hidden" name="horaDevolucion" value="<%=it.noenviados[i].horaDevolucion %>">
                    <input type="hidden" name="numero_sillas_nino" value="<%=it.noenviados[i].numero_sillas_nino %>">
                    <input type="hidden" name="numero_booster" value="<%=it.noenviados[i].numero_booster %>">
                    <% const diasT = (it.noenviados[i].dias - 0) %>
                    <% const precioSillasnino = ((it.noenviados[i].numero_sillas_nino - 0) * 3) * diasT %>
                    <% if (precioSillasnino === 0) { %>
                        <input type="hidden" name="precio_sillas_ninos" value="0">
                    <%} else {%>
                        <input type="hidden" name="precio_sillas_ninos" value="<% precioSillasnino %>">
                    <% } %>


                    <% const precioBoosternino=((it.noenviados[i].numero_booster - 0) * 3)  * diasT%>
                    <% if (precioBoosternino===0) { %>
                        <input type="hidden" name="precio_booster_ninos" value="0">
                    <%} else {%>
                        <input type="hidden" name="precio_booster_ninos" value="<% precioBoosternino %>">
                    <% } %>
                    <input type="hidden" name="descripcion_vehiculo" value="<%=it.noenviados[i].descripcion_vehiculo %>">

                    <% if ((it.noenviados[i].total_suplmento_tipo_conductor - 0)===0 ) { %>
                        <input type="hidden" name="conductor_joven" value="0">
                    <%} else {%>
                        <input type="hidden" name="conductor_joven" value="<%=it.noenviados[i].total_suplmento_tipo_conductor %>">
                    <% } %>

                    <input type="hidden" name="pago_online" value="<%=it.noenviados[i].pago_online %>">
                    <input type="hidden" name="pago_recogida" value="<%=it.noenviados[i].pagoRecogida %>">
                    <input type="hidden" name="pago_alquiler" value="<%=it.noenviados[i].alquiler %>">

                    <button id="botonEnviar" class="centrado-boton_correo azul" type="submit">
                        Enviar confirmacion
                    </button>
                </form>
            </div>
        </li>
        <% contador++%>
    <% } %>

</ul>
